.wrapper {
  display: grid;
  grid-template-columns: auto minmax(320px, 1200px) auto;
  grid-template-rows: 20% 1fr auto;

  gap: 40px 30px;
  grid-template-areas:
    "header header header"
    ". body ."
    "footer footer footer";

  min-height: 100vh;
  min-width: 100vw;

  padding: 0px 0px 20px 0px;
  transition: background-color 0.9s ease-in;
}

.header {
  grid-area: header;

  .settings {
    display: flex;
    justify-content: flex-end;
  }
}

.body {
  grid-area: body;
}

.footer {
  grid-area: footer;
}
