$white: #F9FAFB;
$black: #424F5E;

$border: #C1C1CB;
$gray: #9494A0;
$green: #32C076;
$red: #FF9E90;
$blue: #5856D6;
$blue1: #5A57FF;

$background: #EBEBF0;
$background-gray: #EFEFF6;

$link-shadow: #6e6c91aa;
$loader-color: $green;