.wrapper {
  .content {
    width: 100%;

    .cards {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
      width: 100%;

      .card {
        cursor: pointer;

        flex: 1 1 calc(100% - 20px); /* Default to single column on small screens */
        max-width: calc(100%);
        box-sizing: border-box;

        @media (min-width: 576px) {
          flex: 1 1 calc(50% - 20px); /* Two columns on medium screens */
          max-width: calc(50% - 20px);
        }

        @media (min-width: 992px) {
          flex: 1 1 calc(33.333% - 20px); /* Three columns on large screens */
          max-width: calc(33.333% - 20px);
        }
      }
    }

    .input {
      margin-bottom: 10px;
      width: 100%;
    }

    .notFound {
      margin-top: 20px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 24px;
    }
  }
}
